<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<title>Scan Invoice</title>

<link href="css/index.css" media="screen" rel="stylesheet" type="text/css" />
<link href="plugins/MultiSelectJQuery/resources/jquery.selectareas.css" media="screen" rel="stylesheet" type="text/css" />
<link href="plugins/Magnify/css/magnify.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if lte IE 8]>
<link href="plugins/MultiSelectJQuery/resources/jquery.selectareas.ie8.css" media="screen" rel="stylesheet" type="text/css" /> 
<![endif]-->

<script type="text/javascript" src="webjars/jquery/jquery.js"></script>
<script type="text/javascript" src="plugins/JQueryRedirect/jquery.redirect.js"></script>
<script type="text/javascript" src="plugins/MultiSelectJQuery/jquery.selectareas.js"></script>
<script type="text/javascript" src="plugins/Magnify/js/jquery.magnify.js"></script>
<script type="text/javascript" src="js/index.js"></script>

</head>
<body>
	<div id="wrapper">
		<h1>Invoice</h1>

		<div class="image-decorator">
			<img alt="Image principale" id="originalImage" class="multi-select" />
		</div>

		<div id="centerPanel">
			<fieldset>
				<legend>Please select an invoice</legend>
				<input id="imageInput" type="file" value="" />
			</fieldset>

			<fieldset>
				<legend>Please select the template</legend>

				<select size="5" id="selectTemplate">
					<option th:each="template: ${templates}" th:value="${template.templateId}" th:attr="data=${template.templateName}" th:text="${template.templateDesc}"></option>
				</select>

				<div id="templateImageContainer">
					<img id="templateImage" class="zoom" />
				</div>
			</fieldset>

			<input id="sendButton" type="button" class="full-width" value="Process Invoice" />
		</div>
	</div>
</body>
</html>