<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Scan Invoice</title>

<link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="webjars/tether/css/tether.css" />
<link rel="stylesheet" href="plugins/FontAwesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="css/invoice.css" />
<script type="text/javascript" src="webjars/jquery/jquery.js"></script>
<script type="text/javascript" src="webjars/tether/js/tether.js"></script>
<script type="text/javascript" src="webjars/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="js/invoice.js"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-3">Invoice</h1>
			<hr class="my-4" />
			<p class="h4">Please change the fields as required before saving the changes.</p>
		</div>

		<form>
			<!-- Platform section start -->
			<div class="platform">
				<div class="row">
					<div class="col-md-2">
						<label>Company:</label>
					</div>
					<div class="col-md-10">
						<input id="company" type="text" th:value="${invoice.companyName}" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label>Receipt No:</label>
					</div>
					<div class="col-md-10">
						<input id="receiptNo" type="text" th:value="${invoice.invoiceNumber}" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label>Terms:</label>
					</div>
					<div class="col-md-10">
						<input id="terms" type="text" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label>Bill Date:</label>
					</div>
					<div class="col-md-10">
						<input id="billDate" type="text" th:value="${invoice.date + ' ' + invoice.time}" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label>Due Date:</label>
					</div>
					<div class="col-md-10">
						<input id="dueDate" type="text" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label>Mailing Address:</label>
					</div>
					<div class="col-md-10">
						<textarea rows="3" id="mailingAddress" th:text="${invoice.address}"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label>Billing Address:</label>
					</div>
					<div class="col-md-10">
						<textarea rows="3" id="billingAddress"></textarea>
					</div>
				</div>
			</div>
			<!-- Platform section end -->

			<!-- Item table start -->
			<div class="item-table">
				<div class="row">
					<div class="col-md-1 outter-border">No</div>
					<div class="col-md-1 outter-border">Quantity</div>
					<div class="col-md-8 outter-border">Description</div>
					<div class="col-md-1 outter-border">Amount</div>
					<div class="col-md-1 text-center outter-border outer-border-end">Action</div>
				</div>

				<!-- Automation starts here -->

				<div class="row" th:each="item : ${invoice.items}">
					<div class="col-md-1 outter-border">
						<label class="item-no" th:text="${item.listPos}"></label>
					</div>
					<div class="col-md-1 outter-border clear-padding text-right ">
						<input type="number" th:value="${item.qty}" />
					</div>
					<div class="col-md-8 outter-border clear-padding">
						<input class="long-text" type="text" th:value="${item.itemName}" />
					</div>
					<div class="col-md-1 outter-border clear-padding text-right">
						<input type="number" th:value="${item.totalPrice}" />
					</div>
					<div class="col-md-1 outter-border clear-padding outer-border-end text-center">
						<button type="button" class="btn btn-secondary btn-sm" aria-label="Close">
							<span class="fa fa-times" aria-hidden="true"></span>
						</button>
					</div>
				</div>

				<!-- Automation ends here -->

				<!-- Footer section start -->
				<div class="row">
					<div class="col-md-1 clear-padding">
						<button type="button" class="btn btn-secondary btn-sm" aria-label="Add Items" data-toggle="tooltip" data-placement="bottom" title="Add Item">
							<span class="fa fa-plus" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-secondary btn-sm" aria-label="Add Items" data-toggle="tooltip" data-placement="bottom" title="Delete Items">
							<span class="fa fa-trash-o" aria-hidden="true"></span>
						</button>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-8 text-right">Total</div>
					<div class="col-md-1 clear-padding text-right">
						<input type="number" />
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<!-- Item Table End -->

			<div class="row">
				<label>Memo:</label>
			</div>
			<div class="row">
				<textarea class="memo"></textarea>
			</div>
			<div class="row">
				<div class="col-md-9"></div>
				<div class="col-md-1 text-right">
					<button type="button" class="btn btn-primary">Save</button>
				</div>
				<div class="col-md-2 text-right">
					<button type="button" class="btn btn-primary">Save and New</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>